<% 
  // album 
  const {
    items:albumItems
  } = locals.albums
%>

    <!DOCTYPE html>
    <html lang="en">

    <head>

        <%- include('../layouts/head',{title: ` ${locals.title} | Musify`}) %>
        <link rel="stylesheet" href="/css/explore.css">

    </head>

    <body>

           <!---
            - # Recenly Played
            -->

        <%- include('../layouts/recently_played',{ recentlyPlayed : locals.recentlyPlayedTracks }) %>

            <article class="page custom-scrollbar" data-page>

            <!---
            - #Top app bar
            -->
            
                <%- include('../partials/top_bar',locals.currentProfile ) %>

                <!---
                - #TBottom bar
                -->

                    <%- include('../partials/bottom_nav',{currentRoute:'/album'} ) %>

                        <div class="main">
                            <section class="section">
                                <div class="title-wrapper">
                                    <h2 class="title-large section-title">
                                        <%=locals.title%>
                                    </h2>

                                </div>
                                <div class="grid-list">
                                    
                                    <% albumItems.forEach(({id,images,name:title,artists,release_date,album_type,uri})=>{  %>
                
                                    <% 
                                    let year,text;
                                    if(locals.isArtistAlbum) {
                                        year = new Date(release_date).getFullYear()
                                        text = album_type
                                    } else{
                                       text = artists.map(({name}) => name).join(', ')
                                    }
                                    const image = images.find(item=>item.width === 300)
                                     %>
                                    
                                    <%- include('../partials/card',{ 
                                        image,
                                        title,
                                        year,
                                        type:'album',
                                        text,
                                        link:`/album/${id}`,
                                        uri                         
                                        }) %>

                                    <% }) %>
                                 </div>

                             
                            </section>
                        </div>

                          <!--------
                          -# PAGINATION
                          --------->
                           <%- include('../partials/pagination',locals.albums) %>
                                                                            
                            <!--
                            - #player sm
                            -->
                          
                            <%- include('../partials/player_sm') %>

                        <!--
                        - #player lg
                        -->
                        <%- include('../partials/player_lg') %>


                                <!---
                                - #Footer bar
                                -->

                                <%- include('../layouts/footer') %>

            </article>

    </body>

    </html>