<%
// search playlist
const {
    items:searchPlaylistItems
} = locals.searchPlaylist 
%>

<!DOCTYPE html>
<html lang="en">
<head>
     
    <%- include('../layouts/head',{title: `search Playlist | Musify`}) %>
     
</head>

<body>
    
        <!---   
        - # Recenly Played   
        -->    
          
    <%- include('../layouts/recently_played',{ recentlyPlayed : locals.recentlyPlayedTracks }) %>
        
        <article class="page custom-scrollbar" data-page>
        
        <!---
        - #Top app bar
        -->
        
            <%- include('../partials/top_bar', locals.currentProfile ) %>
                
            <!---
            - #TBottom bar
            -->
                      
                <%- include('../partials/bottom_nav') %>
                    
                        <!--
                        - # SEARCH FILTER LIST
                        -->
                
                        <%- include('../layouts/search_filter', { type:locals.type } ) %>
                                                                                  
                        <div class="main">
                            <section class="section">
                               <div class="grid-list">
                                <% searchPlaylistItems.forEach(({id,images,name:title,owner,uri})=>{  %>

                                    <% 
                                    const text = `By ${owner.display_name}`
                                    const [image]= images || {} 
                                    %>

                                    <%- include('../partials/card',{
                                       image,
                                       type:'playlist',
                                       title,
                                       text,
                                       link:`/playlist/${id}`,
                                       uri
                                       })  %>

                                    <% })  %>
                               
                               </div>
      
                            <!--
                            - #apgination
                            -->
                            <%- include('../partials/pagination',locals.searchPlaylist) %>
     
                            </section>
                         </div>                                                                       
                        <!--
                        - #player sm
                        -->
                       
                        <%- include('../partials/player_sm') %>
   
                    <!--
                    - #player lg
                    -->
                    <%- include('../partials/player_lg') %>
    
                            <!---
                            - #Footer bar
                            -->
    
                            <%- include('../layouts/footer') %>
                 
        </article>
                     
</body>

</html>
